.processparameters-container {
    list-style: none !important;
    padding-left: 0;
}

.processparameters-container .processparameter .save-processparameter {
    border-color: rgb(206, 212, 218);
    color: rgb(40, 167, 69);
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    border-radius: 5px 6px 0px 0px;
    padding: 4px 16px 0px 16px;
    font-size: 14px;
}

    .processparameters-container .processparameter .save-processparameter:hover {
        font-weight: bold;
    }

.processparameters-container .processparameter .cancel-processparameter {
    border-color: rgb(206, 212, 218);
    color: gray;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    border-radius: 5px 6px 0px 0px;
    padding: 4px 16px 0px 16px;
    font-size: 14px;
}

    .processparameters-container .processparameter .cancel-processparameter:hover {
        font-weight: bold;
    }

.processparameters-container .new-processparameter {
    width: 100%;
    border: 1px #B9B9B9 dashed;
    border-radius: 2px;
    background: white;
    color: black;
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 6px;
}

    .processparameters-container .new-processparameter:hover {
        background: rgb(248,248,248);
    }

.processparameters-container .processparameter:hover .card-action-bar {
    display: block;
    padding: 7px 7px 7px 5px;
}

.processparameters-container .processparameter {
    border: 1px solid rgb(206, 212, 218);
    border-radius: 3px 3px 3px 3px;
}

    .processparameters-container .processparameter .processparameter-header {
        line-height: 40px;
    }

    .processparameters-container .processparameter .processparameter-body > div {
        margin-bottom: 16px;
    }


    .processparameters-container .processparameter .card-action-bar {
        background-color: rgb(206, 212, 218);
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 3px 0 3px;
        padding: 4px 8px;
        line-height: 0;
        display: none;
        margin-top: -1px;
    }

    .processparameters-container .processparameter .custom-mes-switch {
        transform: scale(0.6);
    }

    /* The switch - the box around the slider */
    .processparameters-container .processparameter .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        /* Hide default HTML checkbox */
        .processparameters-container .processparameter .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .processparameters-container .processparameter .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .processparameters-container .processparameter .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    .processparameters-container .processparameter input:checked + .slider {
        background-color: #2196F3;
    }

    .processparameters-container .processparameter input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    .processparameters-container .processparameter input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .processparameters-container .processparameter .slider.round {
        border-radius: 34px;
    }

        .processparameters-container .processparameter .slider.round:before {
            border-radius: 50%;
        }

    .processparameters-container .processparameter .icon-container div {
        height: calc(1.5em + .75rem + 2px);
    }

        .processparameters-container .processparameter .icon-container div i {
            line-height: calc(1.5em + .75rem + 2px);
            color: rgb(121, 121, 121);
        }


            .processparameters-container .processparameter .icon-container div i:hover {
                color: rgb(48, 79, 143);
            }

    .processparameters-container .processparameter .card-action-bar i {
        color: white;
        font-size: 12px;
        margin-left: 5px;
    }

        .processparameters-container .processparameter .card-action-bar i:hover {
            color: rgb(48, 79, 143);
        }

    .processparameters-container .processparameter.dragging {
        background-color:white;        
        opacity: 0.5;
        z-index: 2000;
        visibility:visible !important;
    }

    .processparameters-container .processparameter.active {
        visibility:hidden;    
    }